@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Golos-Text_Regular.ttf);
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/Golos-Text_Medium.ttf);
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Golos-Text_Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url(assets/fonts/Montserrat-MediumItalic.ttf);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
body {
  background: #0f0a3f;
  color: #ffffff;
}
.index {
  background-image: url(assets/img/background.png);
  overflow: hidden;
  background-size: cover;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
}
/* шапка */
header {
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  border-radius: 0px 0px 7px 7px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 21px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  padding-top: 6px;
}
.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.header-menu__item {
  padding: 40px 15px 37px 15px;
}
.header-menu__link {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  position: relative;
}
.header-menu__link:hover {
  color: #00b2e8;
}
body .active {
  color: #00b2e8;
}
.header-menu__link img {
  padding-left: 5px;
  padding-top: 3px;
  align-self: center;
}
.header-menu__drop {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  list-style: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px;
  min-width: 280px;
  padding: 2px 0 10px 0;
  margin-left: 100px;
  top: 69px;
  transform: translateY(-240px);
  transition: transform 0s;
  transition: opacity 0.3s;
}
.dropdown:hover + .header-menu__drop {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-menu__drop:hover {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transform: translateY(0px);
}

.header-menu__dropitem a {
  padding: 5px 15px;
  display: block;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header-menu__dropitem a:hover {
  color: #00b2e8;
}
.header-callback {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-callback a {
  color: #ffffff;
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #00b2e8;
  border-radius: 7px;
  padding: 16px 25px;
}
.header-callback a:hover {
  background: #ffffff;
  color: black;
}
/* конец шапки  */
/* контент главной*/
.main {
  display: flex;
  padding-top: 75px;
}
.main h1 {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 100%;
  /* or 51px */
  letter-spacing: 0.034em;
  text-transform: uppercase;
  color: #eb4225;
  margin: 0;
  margin-top: 30px;
}
.main h1 span {
  color: #ffffff;
}
.main-subtext {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  /* identical to box height, or 25px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-feature-settings: "kern" off;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 46px;
}
.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-list__item {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 110%;
  color: #ffffff;
  padding: 10px;
  padding-left: 45px;
  position: relative;
  max-width: 600px;
}
.main-list__item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(assets/img/itemok.png);
  left: 0;
  top: calc(50% - 15px);
}
.main-modal__btn {
  margin-top: 54px;
  background: #eb4225;
  border-radius: 7px;
  display: block;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 29px 15px 27px 15px;
  max-width: 400px;
}
.main-modal__btn:hover {
  transform: scale(1.02);
}
.main-image {
  margin-left: 50px;
  width: auto;
  position: relative;
}
.main-image div {
  position: relative;
  width: 70vh;
  background-image: url(assets/img/Eduard.png);
  height: 81vh;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* контент главной конец */

/* Контент других страниц */

.other-page {
  background-image: url(assets/img/backotherpage.png);
  background-size: cover;
}
.reviews {
  padding-top: 85px;
  display: flex;
  gap: 100px;
}
.reviews-leftbar {
  max-width: 410px;
}
.reviews-leftbar p {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}
.reviews-leftbar .active {
  color: #00b2e8;
}
.reviews-button {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #00b2e8;
  border-radius: 7px;
  color: #ffffff;
  padding: 28px 72px 28px 72px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
}
.reviews-button__active {
  opacity: 0.5;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: inherit;
  padding: 29px 71px 25px 71px;
}
.reviews-rightbar {
  min-width: 720px;
  position: relative;
  max-width: 720px;
}
.reviews-rightbar img {
  max-width: 100%;
}
.reviews-box__btn {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  padding: 11px 47px 13px 47px;
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px 7px 0px 0px;
  border: none;
  position: relative;
}
.swiper {
  width: 100%;
  max-width: 720px;
  max-height: 405px;
  border-radius: 0px 7px 7px 7px;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  border-radius: 50px;
  z-index: 10;
}
.swiper-button-prev {
  left: -70px;
}
.swiper-button-next {
  right: -70px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.audio-box {
  display: none;
}
.reviews__form {
  display: none;
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  border-radius: 0px 7px 7px 7px;
  padding: 51px 50px 56px 50px;
}
.reviews__input {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #ffffff;
  opacity: 1;
  display: inline-block;
  width: 100%;
  min-width: 620px;
  background: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 16px 30px 15px 30px;
  margin-bottom: 12px;
}
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input__file-button {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #ffffff;
  opacity: 0.5;
  display: inline-block;
  padding: 15px 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 8px;
}
.reviews__input:plascehloder {
  opacity: 0.7;
}
.reviews__submit {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  background: #00b2e8;
  border-radius: 7px;
  color: #ffffff;
  padding: 16px 13px;
  cursor: pointer;
  border: none;
}
.audio-container {
  background: rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(69.6667px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  min-height: 405px;
}
.audio-container p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  margin: 10px 0 0 0;
}
.audio-container p:nth-child(3) {
  margin-bottom: 15px;
}
.audio-player {
  width: 100%;
  padding: 0 135px;
}
.reviews svg {
  margin-top: 70px;
}
