/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Golos-Text_Regular.ttf);
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/Golos-Text_Medium.ttf);
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Golos-Text_Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url(assets/fonts/Montserrat-MediumItalic.ttf);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #0f0a3f;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.index {
  /* background-image: url(assets/img/background.png); */
  overflow: hidden;
  background-repeat: no-repeat;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
}
/* шапка */
header {
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 0px 0px 7px 7px;
}
header.fixed {
  width: 100%;
  max-width: 1300px;
  height: 99px;
  position: fixed;
  z-index: 10000;
  top: 0px;
  background: rgba(56, 49, 108, 1);
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 21px;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-logo img {
  padding-top: 6px;
  width: 120px;
}
.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-menu__item {
  padding: 40px 15px 37px 15px;
}
.header-menu__link {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header-menu__link:hover {
  color: #00b2e8;
}
body .active {
  color: #00b2e8;
}
.header-menu__link img {
  padding-left: 5px;
  padding-top: 3px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.header-menu__drop {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  list-style: none;
  position: absolute;
  background: #38316c;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  border-radius: 7px;
  min-width: 280px;
  padding: 2px 0 10px 0;
  margin-left: 100px;
  top: 69px;
  -webkit-transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  transform: translateY(-240px);
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  -o-transition: transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.dropdown:hover + .header-menu__drop {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.header-menu__drop:hover {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.header-menu__dropitem a {
  padding: 5px 15px;
  display: block;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header-menu__dropitem a:hover {
  color: #00b2e8;
}
.header-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-callback a {
  color: #ffffff;
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #00b2e8;
  border-radius: 7px;
  padding: 16px 25px;
}
.header-callback a:hover {
  background: #ffffff;
  color: black;
}
/* конец шапки  */
/* контент главной*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
}
.main h1 {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 100%;
  /* or 51px */
  letter-spacing: 0.034em;
  text-transform: uppercase;
  color: #eb4225;
  margin: 0;
  margin-top: 30px;
}
.main h1 span {
  color: #ffffff;
}
.main-subtext {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  /* identical to box height, or 25px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 46px;
}
.main-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-list__item {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 110%;
  color: #ffffff;
  padding: 10px;
  padding-left: 45px;
  position: relative;
  max-width: 600px;
}
.main-list__item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(assets/img/itemok.png);
  left: 0;
  top: calc(50% - 15px);
}
.main-list__item:nth-child(1)::before {
  top: calc(50% - 20px);
}
.main-modal__btn {
  margin-top: 54px;
  background: #eb4225;
  border-radius: 7px;
  display: block;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 29px 15px 27px 15px;
  max-width: 400px;
}
.main-modal__btn:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.main-image {
  margin-left: 50px;
  width: auto;
  position: relative;
}
.main-image div {
  position: relative;
  width: 70vh;
  background-image: url(assets/img/Eduard.png);
  height: 89vh;
  position: absolute;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -75px;
}
/* видео на главной */

.main {
  position: relative;
}
.content {
  z-index: 6;
  position: relative;
}
.intro {
  position: relative;
  height: 100vh;
}
.intro__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro__media::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}
.intro__media video {
  width: 1920px;
}
/* контент главной конец */

/* Контент других страниц */
/* Живые отзывы  */
.other-page {
  background-image: url(assets/img/other1920w.jpg);
}
.reviews {
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.reviews-leftbar {
  max-width: 410px;
  padding-top: 40px;
}
.reviews-leftbar p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
div .reviews__title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.reviews__title span {
  display: inline-block;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 10;
  position: relative;
  top: -4px;
  margin-left: 8px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  overflow: hidden;
}
.reviews__title span:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.reviews__hide {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  width: 430px;
  height: 203px;
  padding: 7px 15px;
  background: #00b2e8;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  border-radius: 7px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.reviews__show {
  opacity: 1;
  z-index: 10;
}
.reviews-leftbar .active {
  color: #00b2e8;
}
.reviews-button {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #00b2e8;
  border-radius: 7px;
  color: #ffffff;
  padding: 28px 72px 28px 72px;
  cursor: pointer;
  border: none;
}
.reviews-button__active {
  opacity: 0.5;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: inherit;
  padding: 29px 71px 25px 71px;
}
.reviews-rightbar {
  min-width: 720px;
  position: relative;
  max-width: 720px;
}
.reviews-rightbar img {
  max-width: 100%;
}
.reviews-box__btn {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  padding: 11px 47px 13px 47px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px 7px 0px 0px;
  border: none;
  position: relative;
}
.item {
  width: 100%;
  max-width: 720px;
  max-height: 405px;
  border-radius: 0px 7px 7px 7px;
}
.owl-prev,
.owl-next {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 50px;
  z-index: 10;
  border-radius: 50px !important;
  top: 160px;
}
.owl-prev {
  left: -70px;
}
.owl-next {
  right: -70px;
}
.owl-prev img,
.owl-next img {
  top: 3px;
  left: 0px;
  position: relative;
}
.owl-carousel .owl-item img {
  width: auto;
}
.video-box,
.audio-box {
  position: absolute;
  width: 720px;
  height: 440px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}
.new-business,
.active-business {
  position: absolute;
  opacity: 0;
  right: 20px;
  z-index: -1;
}
.reviews__form {
  opacity: 0;
  position: absolute;
  width: 720px;
  height: 420px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 0px 7px 7px 7px;
  padding: 51px 50px 56px 50px;
}
.active-box {
  opacity: 1;
  z-index: 1;
}
.reviews__input {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #ffffff;
  opacity: 1;
  display: inline-block;
  width: 100%;
  min-width: 620px;
  background: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 16px 30px 15px 30px;
  margin-bottom: 12px;
}
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input__file-button {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #ffffff;
  opacity: 0.5;
  display: inline-block;
  padding: 15px 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 8px;
}
.reviews__input:plascehloder {
  opacity: 0.7;
}
.reviews__submit {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  background: #00b2e8;
  border-radius: 7px;
  color: #ffffff;
  padding: 16px 13px;
  cursor: pointer;
  border: none;
}
.audio-container {
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
  min-height: 405px;
}
.audio-container p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  margin: 10px 0 0 0;
}
.audio-container p:nth-child(3) {
  margin-bottom: 15px;
}
.audio-player {
  width: 100%;
  padding: 0 135px;
}
.reviews svg {
  margin-top: 70px;
}
/* .new-business {
  display: none;
} */
/* О компании  */
.other-page-reviews {
  background-image: url(assets/img/bigfon.jpg);
  overflow-x: hidden;
}
.contact-page {
  background-image: url(assets/img/bgcontact.jpg);
  position: relative;
}
@media (min-width: 1441px) {
  .other-page-reviews {
    background-image: url(assets/img/bigfon1920.jpg);
  }
  .contact-page {
    background-image: url(assets/img/bgcontact1920.jpg);
  }
}
@media (min-width: 1921px) {
  .other-page-reviews {
    background-image: url(assets/img/bigfon2560.jpg);
  }
  .index,
  .other-page,
  .contact-page {
    background-size: cover;
  }
  .intro__media video {
    width: 100%;
  }
}
.director {
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px;
  width: 100%;
  padding: 65px 50px;
  margin-top: 100px;
  max-height: 600px;
  background-image: url("assets/img/director.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.director__title {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}
.director__discription {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}
.director-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 318px;
  max-width: 700px;
}
.director-list__item {
  list-style: none;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  min-width: 353px;
}
.director-list__item img {
  padding-right: 23px;
  width: 56px;
}
.company {
  margin-top: 100px;
}
.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.company__title {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 50px;
}
.numbers__top {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  color: #00b2e8;
  opacity: 0.6;
  margin-bottom: 10px;
  display: inline-block;
}
.numbers__bottom {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.people {
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px;
  padding: 65px 50px;
}
.people h2 {
  text-align: center;
}
.people-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0px;
}
.people__item {
  width: 33%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.people__item img {
  width: 183px;
  height: 250px;
  border-radius: 7px;
}
.people__item h3 {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0 12px 0;
}
.people__item p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
}
.garantii {
  margin-top: 110px;
  position: relative;
}
.garantii::after {
  content: "";
  background-image: url(assets/img/garantiya.svg);
  background-repeat: no-repeat;
  width: 390px;
  height: 420px;
  position: absolute;
  top: -200px;
  right: -185px;
}
.garantii-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.company__title {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 50px;
}
.garantii__top {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00b2e8;
  margin-bottom: 12px;
}
.garantii__bottom {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: #ffffff;
  letter-spacing: 0.04em;
}
.awards {
  margin-top: 90px;
  padding: 65px 39px;
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px;
}
.awards__title {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 50px;
}
.awards .popup-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.awards .popup-gallery img {
  border-radius: 7px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.awards .popup-gallery img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.partners {
  margin-top: 100px;
  margin-bottom: 70px;
}
.partners__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.partners__discription {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.partners-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px 33px;
}
.partners-row svg:hover {
  fill: #00b2e8;
  cursor: pointer;
}
.partners__item {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.item__discription {
  opacity: 0;
  background: #00b2e8;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 100;
  width: 420px;
  padding: 0px 5px;
  margin-top: 20px;
  -webkit-transform: translateX(-3000px);
  -ms-transform: translateX(-3000px);
  transform: translateX(-3000px);
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.partners__item:nth-child(9) > .item__discription,
.partners__item:nth-child(10) > .item__discription,
.partners__item:nth-child(11) > .item__discription,
.partners__item:nth-child(12) > .item__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  bottom: 5px;
  top: inherit;
}
.partners__item:hover > .item__discription {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.item__discription p {
  padding: 0 20px 32px 15px;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: -30px;
}
.item__discription img {
  margin-top: -20px;
  width: 300px;
  height: 150px;
  -webkit-filter: brightness(2);
  filter: brightness(2);
}
.partners__item:nth-child(9) > .item__discription p,
.partners__item:nth-child(10) > .item__discription p,
.partners__item:nth-child(11) > .item__discription p,
.partners__item:nth-child(12) > .item__discription p {
  margin-top: 0px;
  padding: 42px 20px 0 20px;
}
/* контакты */
.contact-page .content {
  position: relative;
}
.contact__earth {
  /* width: 450px;
  height: 450px; */

  -webkit-transition: all 5s ease;

  -o-transition: all 5s ease;

  transition: all 5s ease;
}
.earth-box {
  top: 274px;
  right: -60px;
  display: block;
  position: absolute;
}
.earth-hover {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.earth-hover:hover {
  opacity: 1;
}
.SA {
  bottom: 4px;
  left: 133px;
}
.NA {
  top: 18px;
}
.africa {
  bottom: 55px;
  right: 361px;
}
.euroasia {
  left: 330px;
  top: 4px;
}
.australia {
  bottom: 43px;
  right: 88px;
}
.contact {
  margin-top: 105px;
}
.contact__title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 28px 0;
  max-width: 750px;
}
.contact-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 180px;
  max-width: 530px;
}
.contact-list__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 59px;
  min-width: 280px;
}
.contact-list__item img {
  margin-right: 27px;
  width: 29px;
}
.contact-list__item a {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* ответы на вопросы */
.faq {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faq-left {
  width: 440px;
  max-width: 100%;
}
.faq-left p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq-left img {
  padding-top: 127px;
  position: absolute;
}
.faq-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 860px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.faq-item {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  padding: 28px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-grow: 1;
  min-width: 40%;
  max-width: 49%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.faq-item:hover {
  background: rgba(255, 255, 255, 0.054);
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  -webkit-backdrop-filter: blur(69.6667px);
  backdrop-filter: blur(69.6667px);
  border: 1px solid rgba(255, 255, 255, 0);
}
.faq-item__disc {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #22294c;
  -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
    inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
  /* backdrop-filter: blur(69.6667px); */
  border-radius: 7px;
  min-height: 444px;
  max-height: 444px;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}
.faq__active + .faq-item__disc {
  opacity: 1;
  z-index: 10;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.faq__close {
  width: 15px;
  height: 15px;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 11;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__close:hover {
  -webkit-transform: rotate(-90deg) scale(1.2);
  -ms-transform: rotate(-90deg) scale(1.2);
  transform: rotate(-90deg) scale(1.2);
}

.faq-item__disc::-webkit-scrollbar {
  width: 2px;
  max-height: 80%;
}

.faq-item__disc::-webkit-scrollbar-track {
  background-color: #f9f9fd;
}

.faq-item__disc::-webkit-scrollbar-thumb {
  background-color: #00b2e8;
}

.faq-item__disc h2,
.faq-item__disc p {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-align: justify;
  padding: 20px 30px 0 30px;
  margin: 0;
}
.faq-item__disc p:last-child {
  padding-bottom: 20px;
}
.faq-item__disc h2 {
  font-size: 18px;
  padding-right: 50px;
}
