/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.mobile-menu {
  display: none;
}
@media (max-width: 1555px) {
  .partners__item:nth-child(4) > .item__discription,
  .partners__item:nth-child(8) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: -110px;
  }
  .partners__item:nth-child(4) .item__discription img,
  .partners__item:nth-child(8) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 80px;
  }
}
@media (max-width: 1439px) {
  main {
    padding: 0 15px;
  }
  .index {
    overflow-y: auto;
  }
  .main {
    padding-top: 20px;
  }
  .main h1 {
    font-size: 40px;
  }
  .main-subtext {
    margin-bottom: 10px;
  }
  /* .main-image {
    width: 40%;
    margin-left: 0;
  } */
  .main-image div {
    position: relative;
    width: 55vh;
    height: 80vh;
    margin: 0;
    background-size: cover;
  }
  .reviews {
    padding-top: 30px;
  }
  .reviews svg {
    margin-top: 20px;
  }
  .video-box,
  .audio-box {
    width: 90%;
    height: auto;
  }
  .audio-container {
    min-height: auto;
  }
  video {
    max-width: 100%;
  }
  .intro__media video {
    max-width: inherit;
  }
  .reviews__input {
    min-width: auto;
  }
  .reviews__form {
    width: auto;
    height: auto;
  }
  .director {
    margin-top: 30px;
  }
  .numbers__top {
    font-size: 100px;
  }
  .company,
  .people,
  .garantii,
  .awards,
  .partners,
  .reasons {
    margin-top: 80px;
  }
  .company__title {
    margin-bottom: 25px;
  }
  .people__item h3 {
    margin: 15px 0 0 0;
  }
  .garantii__bottom {
    font-size: 16px;
  }
  .garantii::after {
    right: 0px;
  }
  .awards .popup-gallery {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0;
  }
  .awards .popup-gallery a {
    padding-bottom: 20px;
  }
  .partners-row {
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .faq {
    padding-top: 40px;
  }
  .faq-left {
    width: 30%;
  }
  .faq-right {
    width: 70%;
  }
  .faq-item__disc {
    min-height: auto;
    max-height: 100%;
  }
  .faq-item__adv {
    min-height: auto;
  }
  .faq-item,
  .faq-item__quest {
    font-size: 16px;
    padding: 18px 11px;
  }
  .contact {
    margin-top: 40px;
  }
  .earth-box {
    top: 220px;
    right: 0px;
  }
  .contact-list,
  .contact__title {
    position: relative;
    z-index: 11;
  }
}
@media (min-width: 1330px) {
  .reasons-item:nth-child(5n) .reasons-item__disc {
    width: 240px;
    height: 508px;
    top: 0;
  }
}
@media (max-width: 1330px) {
  .reasons-item {
    width: 23%;
  }
  .reasons-item:nth-child(4n) .reasons-item__disc {
    width: 100%;
    height: 508px;
    top: 0;
  }
}
@media (max-width: 1235px) {
  .director {
    background-size: 40%;
  }
  .director__discription {
    font-size: 24px;
  }
  .director-list__item {
    min-width: auto;
  }
  .partners__item:nth-child(4) > .item__discription,
  .partners__item:nth-child(8) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: 0px;
  }
  .partners__item:nth-child(4) .item__discription img,
  .partners__item:nth-child(8) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 0px;
  }
  .partners__item:nth-child(3) > .item__discription,
  .partners__item:nth-child(6) > .item__discription,
  .partners__item:nth-child(9) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: -110px;
  }
  .partners__item:nth-child(3) .item__discription img,
  .partners__item:nth-child(6) > .item__discription img,
  .partners__item:nth-child(9) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 80px;
  }
}
@media (max-width: 1250px) {
  .header {
    max-width: 100%;
  }
  .header-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-menu__link {
    font-size: 16px;
  }
  .header-menu__item {
    padding: 0 10px;
  }
  .header-callback a {
    font-size: 14px;
  }
  header.fixed {
    height: auto;
  }
  header .header-logo__second {
    bottom: 21px;
  }
  .header-menu__drop {
    top: 50px;
  }
  .header-menu__dropitem a {
    font-size: 16px;
  }
}
@media (max-width: 1130px) {
  .reviews-rightbar {
    min-width: 60%;
  }
}
@media (max-width: 1080px) {
  .header-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  /* menu */
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    position: fixed;
    z-index: 3;
    width: 100%;
    background: #231e4f;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
      inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
    backdrop-filter: blur(69.6667px);
  }
  .hamburger {
    max-width: 26px;
  }
  nav {
    height: 0;
  }
  .desctope__none {
    display: block;
  }
  .header-logo {
    display: none;
  }
  .header-callback {
    display: none;
  }
  .header-menu {
    flex-direction: column;
    width: 100%;
    border-radius: 7px;
    transform: translateY(-150px);
    opacity: 0;
    z-index: -1;
    transition: all 350ms ease;
  }
  .header-menu__link {
    font-size: 16px;
  }
  .menu-active {
    transform: translateY(60px);
    opacity: 1;
    z-index: 2;
  }
  .header-menu__item {
    background: #231e4f;
    width: 100%;
    padding: 10px 13px;
  }
  .header-menu__item:last-child {
    border-radius: 0 0 7px 7px;
  }
  .header-menu__drop {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 0;
    transition: height 150ms ease;
    background: #231e4f;
    box-shadow: none;
  }
  .dropdown-open {
    height: auto;
  }
  .header-menu__dropitem a {
    font-size: 15px;
    padding: 10px 20px;
  }
  .arrow {
    top: 15px;
    right: 30px;
    width: 10px;
    height: 10px;
    z-index: 100;
  }
  main {
    padding: 60px 11px 10px 11px;
  }
  .main h1 {
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .main-subtext {
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .main-image {
    position: absolute;
    display: none;
  }
  .main-list__item {
    font-size: 16px;
    line-height: 110%;
  }
  .mobile-index__img {
    display: block;
    margin: 27px auto 15px auto;
  }
  .main-content {
    width: 100%;
  }
  .reviews-leftbar {
    padding-top: 20px;
    max-width: 100%;
  }
  .reviews-rightbar {
    min-width: inherit;
    right: inherit;
    max-width: 100%;
  }
  .video-box,
  .audio-box {
    transition: none;
  }
  .active-box {
    position: relative;
  }
  .reviews {
    flex-direction: column;
    gap: 20px;
  }
  .reviews-leftbar svg {
    display: none;
  }
  .video-box,
  .audio-box {
    width: 100%;
  }
  .owl-next,
  .owl-next:hover {
    right: -15px;
    top: 30%;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
  }
  .owl-prev,
  .owl-prev:hover {
    left: -15px;
    top: 30%;
    box-shadow: none;
    background: transparent;
    backdrop-filter: none;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  .reviews-box__btn {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 110%;
  }
  .audio-container img {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    position: absolute;
    left: 35px;
    top: 28px;
  }
  .audio-container p {
    width: 100%;
    text-align: left;
    padding-left: 140px;
    font-size: 16px;
    line-height: 110%;
  }
  .audio-player {
    width: 86%;
    padding: 0;
    padding-top: 25px;
  }
  .audio-container {
    padding: 28px 0;
  }
  .mobile__none {
    display: none;
  }
  .reviews-leftbar p {
    font-size: 18px;
  }
  .reviews-button {
    z-index: 10;
  }
  .reviews__form {
    padding: 10px;
  }
  .reviews-button__active {
    display: none;
  }
  .input__file-button,
  .reviews__submit,
  .reviews__input {
    font-size: 14px;
  }
  .reviews__hide {
    width: 94%;
    height: 100px;
  }
}
