/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.mobile-menu {
  display: none;
}
.mobile {
  display: none;
}
.people-mobile {
  display: none;
}
@media (max-width: 1555px) {
  .partners__item:nth-child(4) > .item__discription,
  .partners__item:nth-child(8) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: -110px;
  }
  .partners__item:nth-child(4) .item__discription img,
  .partners__item:nth-child(8) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 80px;
  }
}
@media (max-width: 1439px) {
  main {
    padding: 0 15px;
  }
  .index-img-row {
    left: inherit;
  }
  .main-image div {
    right: 0px;
  }
  .index {
    overflow-y: auto;
  }
  .main {
    padding-top: 20px;
  }
  .main h1 {
    font-size: 40px;
  }
  .main-subtext {
    margin-bottom: 10px;
  }
  .reviews {
    padding-top: 30px;
  }
  .reviews svg {
    margin-top: 20px;
  }
  .video-box,
  .audio-box {
    width: 90%;
    height: auto;
  }
  .audio-container {
    min-height: auto;
  }
  video {
    max-width: 100%;
  }
  .intro__media video {
    max-width: inherit;
  }
  .reviews__input {
    min-width: auto;
  }
  .reviews__form {
    width: auto;
    height: auto;
  }
  .director {
    margin-top: 30px;
  }
  .numbers__top {
    font-size: 100px;
    margin-bottom: 0;
  }
  .company,
  .people,
  .garantii,
  .awards,
  .partners,
  .reasons {
    margin-top: 80px;
  }
  .company__title {
    margin-bottom: 25px;
  }
  .people__item h3 {
    margin: 15px 0 0 0;
  }
  .garantii__bottom {
    font-size: 16px;
  }
  .garantii::after {
    right: 0px;
  }
  .awards .popup-gallery {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0;
  }
  .awards .popup-gallery a {
    padding-bottom: 20px;
  }
  .partners-row {
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1330px) {
  .reasons-item:nth-child(5n) .reasons-item__disc {
    width: 240px;
    height: 508px;
    top: 0;
  }
  .contact-list,
  .contact__title {
    position: relative;
    z-index: 11;
  }
}
@media (max-width: 1330px) {
  .reasons-item {
    width: 23%;
  }
  .reasons-item:nth-child(4n) .reasons-item__disc {
    width: 100%;
    height: 508px;
    top: 0;
  }
  .contact {
    margin-top: 40px;
  }
  .earth-box {
    top: 220px;
    transform: scale(0.8);
  }
}
@media (max-width: 1300px) {
  header.fixed {
    left: 0;
  }
}
@media (max-width: 1250px) {
  .arrow {
    bottom: 5px;
    right: -4px;
  }
}
@media (max-width: 1235px) {
  .director {
    background-size: 40%;
  }
  .director__discription {
    font-size: 24px;
  }
  .director-list__item {
    min-width: auto;
  }
  .partners__item:nth-child(4) > .item__discription,
  .partners__item:nth-child(8) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: 0px;
  }
  .partners__item:nth-child(4) .item__discription img,
  .partners__item:nth-child(8) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 0px;
  }
  .partners__item:nth-child(3) > .item__discription,
  .partners__item:nth-child(6) > .item__discription,
  .partners__item:nth-child(9) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: -110px;
  }
  .partners__item:nth-child(3) .item__discription img,
  .partners__item:nth-child(6) > .item__discription img,
  .partners__item:nth-child(9) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    position: relative;
    left: 80px;
  }
}
@media (max-width: 1250px) {
  .header {
    max-width: 100%;
  }
  .header-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-menu__link {
    font-size: 16px;
  }
  .header-menu__item {
    padding: 0 10px;
  }
  .header-callback a {
    font-size: 14px;
  }
  header.fixed {
    height: auto;
    left: 0 !important;
  }
  header .header-logo__second {
    bottom: 21px;
  }
  .header-menu__drop {
    top: 50px;
  }
  .header-menu__dropitem a {
    font-size: 16px;
  }
  .main-image div {
    position: relative;
    width: 55vh;
    height: 80vh;
    margin: 0;
    background-size: cover;
  }
}
@media (max-width: 1130px) {
  .reviews-rightbar {
    min-width: 60%;
  }
  .faq {
    padding-top: 40px;
  }
  .faq-left {
    width: 30%;
  }
  .faq-right {
    width: 70%;
  }
  .faq-item__disc {
    min-height: auto;
    max-height: 100%;
  }
  .faq-item__adv {
    min-height: auto;
  }
  .faq-item,
  .faq-item__quest {
    font-size: 16px;
    padding: 18px 11px;
  }
  .earth-box {
    transform: scale(0.5);
  }
}
@media (max-width: 1080px) {
  .header-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  /* menu */
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 13px;
    position: fixed;
    z-index: 3;
    width: 100%;
    background: #231e4f;
    border-radius: 0px 0px 7px 7px;
    -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
      inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
    box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
      inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
    -webkit-backdrop-filter: blur(69.6667px);
    backdrop-filter: blur(69.6667px);
  }
  .mobile-menu__logo {
    margin-left: -14px;
  }
  .mobile {
    display: flex;
  }
  nav {
    height: 0;
  }
  .main {
    padding-top: 0;
  }
  .intro__media video {
    width: auto;
    height: 100vh;
    min-height: 800px;
  }
  .desctope__none {
    display: block;
  }
  .header-logo {
    display: none;
  }
  .header-callback {
    display: none;
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    border-radius: 7px;
    -webkit-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  .header-menu__link {
    font-size: 16px;
  }
  .menu-active {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 1;
    z-index: 2;
  }
  .header-menu__item {
    background: #231e4f;
    width: 100%;
    padding: 10px 13px;
  }
  .header-menu__item:last-child {
    border-radius: 0 0 7px 7px;
  }
  .header-menu__drop {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 0;
    -webkit-transition: height 150ms ease;
    -o-transition: height 150ms ease;
    transition: height 150ms ease;
    background: #231e4f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown-open {
    height: auto;
  }
  .header-menu__dropitem a {
    font-size: 14px;
    padding: 9px 30px;
  }
  .arrow {
    top: 17px;
    left: 140px;
    width: 8px;
    height: 8px;
    z-index: 11;
  }
  .up {
    top: 21px;
  }
  main {
    padding: 60px 11px 10px 11px;
  }
  .main h1 {
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }
  .main-subtext {
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .main-image {
    position: absolute;
    width: 100%;
    margin-left: 0;
  }
  .main-list {
    margin-top: 192px;
  }
  .index-img-row {
    position: absolute;
    left: inherit;
  }
  .main-image {
    position: static;
  }
  .main-image div {
    position: absolute;
    width: 200px;
    height: 210px;
    margin: 0;
    background-size: cover;
    top: 160px;
    left: calc(50% - 100px);
  }
  .main-list__item {
    font-size: 16px;
    line-height: 110%;
  }
  .mobile-index__img {
    display: block;
    margin: 27px auto 15px auto;
  }
  .main-content {
    width: 100%;
  }
  .main-modal__btn {
    margin-top: 20px;
    padding: 20px 10px;
    font-size: 14px;
  }
  .intro__media {
    min-height: auto;
  }
  .reviews-leftbar {
    padding-top: 20px;
    max-width: 100%;
  }
  .reviews-rightbar {
    min-width: inherit;
    right: inherit;
    max-width: 100%;
  }
  .video-box,
  .audio-box {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .active-box {
    position: relative;
  }
  .audio-box {
    top: -500px;
  }
  .audio-box.active-box {
    top: 0;
  }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  .reviews-leftbar svg {
    display: none;
  }
  .video-box,
  .audio-box {
    width: 100%;
  }
  .video-box video {
    max-width: 100%;
  }
  .owl-next,
  .owl-next:hover {
    right: -15px;
    top: 30%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .owl-prev,
  .owl-prev:hover {
    left: -15px;
    top: 30%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  .reviews-box__btn {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 110%;
  }
  .audio-container img {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    position: absolute;
    left: 35px;
    top: 28px;
  }
  .audio-container p {
    width: 100%;
    text-align: left;
    padding-left: 140px;
    font-size: 16px;
    line-height: 110%;
  }
  .audio-player {
    width: 86%;
    padding: 0;
    padding-top: 25px;
  }
  .audio-container {
    padding: 28px 0;
  }
  .mobile__none {
    display: none;
  }
  .reviews-leftbar p {
    font-size: 18px;
  }
  .reviews-button {
    z-index: 10;
    max-width: 100%;
  }
  .reviews__form {
    padding: 10px;
    display: none;
  }
  .active-box {
    display: block;
  }
  .reviews-button__active {
    display: none;
  }
  .input__file-button,
  .reviews__submit,
  .reviews__input {
    font-size: 14px;
  }
  .input__file-button {
    padding: 13px 10px;
    margin-bottom: 8px;
  }
  .reviews__hide {
    width: 98%;
    height: 100px;
  }
  .video-box .item {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
  .video-box .item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    background: transparent !important;
  }
  .rew__disc {
    top: 20px;
    right: inherit;
    left: 210px;
  }
  .garantii-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .director {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding: 0;
    background-position: top 60px center;
    background-size: 350px;
    min-height: auto;
    max-height: inherit;
  }
  .director__title {
    font-size: 28px;
    line-height: 100%;
    text-align: center;
  }
  .director .director__title {
    margin-bottom: 440px;
  }
  .director__discription {
    font-size: 18px;
    line-height: 110%;
    text-align: center;
  }
  .director .director__discription br {
    display: none;
  }
  .director__discription-lastblock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .director__discription-last {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: inherit;
    text-align: center;
  }
  .director .director__discription-last br {
    display: block;
  }
  .director__discription-img {
    width: 123px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
  .company__title {
    font-size: 28px;
  }
  .reasons__h3 {
    font-size: 15px;
  }
  .reasons-row {
    gap: 10px;
  }
  .reasons-item {
    height: 170px;
    gap: 15px;
    width: 48%;
  }
  .reasons-item__disc {
    top: 0;
    width: calc(200% + 13px);
    height: auto;
    padding: 24px 18px;
  }
  .reasons-item:nth-child(2n) .reasons-item__disc {
    right: 0;
    left: inherit;
  }
  .reasons-item:nth-child(4n) .reasons-item__disc {
    width: calc(200% + 13px);
    height: auto;
  }
  .company,
  .people,
  .garantii,
  .awards,
  .partners,
  .reasons {
    margin-top: 50px;
  }
  .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .numbers__bottom {
    font-size: 16px;
    margin-top: -5px;
  }
  .people h2 {
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  .people {
    padding: 50px 0;
    display: none;
  }
  .people-mobile {
    display: block;
  }
  .people__item {
    width: inherit;
  }
  .order1 {
    order: 1;
  }
  /* .people .owl-item {
    width: 183px !important;
  } */
  .garantii-row {
    text-align: center;
  }
  .garantii::after {
    content: none;
  }
  .garantii__top {
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    position: relative;
    margin-top: 15px;
  }
  .garantii__top::before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background-image: url("/Eduard/assets/img/about1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - 100px);
    top: -10px;
  }
  .mob_gar2::before {
    background-image: url("/Eduard/assets/img/about2.svg");
  }
  .mob_gar3::before {
    background-image: url("/Eduard/assets/img/about3.svg");
  }
  .awards__title {
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  .awards {
    padding: 20px 13px;
  }
  .owl-slider__nav {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    justify-content: center;
    margin-bottom: 15px;
  }
  section.awards div.owl-dots {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .awards a img {
    max-height: inherit;
    max-width: 99%;
    border-radius: 7px;
  }
  .awards .popup-gallery img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .awards .owl-next {
    right: -50px;
    top: 40%;
  }
  .awards .owl-prev {
    left: -50px;
    top: 40%;
  }
  .partners__title {
    font-size: 28px;
    line-height: 100%;
  }
  .partners__discription {
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.01em;
  }
  .partners__discription br {
    display: none;
  }
  .partners__item {
    width: 50%;
  }
  .partners__item img {
    max-width: 100%;
  }
  .item__discription p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .item__discription {
    width: 200%;
  }
  .partners__item:nth-child(3) > .item__discription,
  .partners__item:nth-child(6) > .item__discription,
  .partners__item:nth-child(9) > .item__discription,
  .partners__item:nth-child(12) > .item__discription {
    left: 0;
  }
  .partners__item:nth-child(3) .item__discription img,
  .partners__item:nth-child(6) > .item__discription img,
  .partners__item:nth-child(9) .item__discription img,
  .partners__item:nth-child(12) .item__discription img {
    left: 0;
  }
  .partners__item:nth-child(2n) > .item__discription {
    right: 0;
    left: inherit;
  }
  .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .faq-left {
    width: 100%;
    font-size: 18px;
    line-height: 110%;
  }
  .faq-left p {
    font-size: 18px;
    line-height: 110%;
  }
  .faq-left img {
    display: none;
  }
  .faq-right {
    width: 100%;
  }
  .faq-item {
    width: 100%;
    max-width: 100%;
  }
  .faq-item__adv {
    max-height: inherit;
  }
  .item__adv-button {
    max-width: 100%;
    min-width: 51%;
  }
  .faq-item__disc h2 {
    text-align: left;
    font-size: 16px;
    line-height: 125%;
  }
  .faq-item__disc p {
    font-size: 15px;
    line-height: 125%;
    text-align: left;
  }
  .contact-page .content {
    overflow-x: hidden;
  }
  .contact__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.01em;
    font-family: "Golos";
    font-style: normal;
    text-transform: inherit;
    text-align: center;
  }
  .earth-hover {
    display: none;
  }
  .earth-box > img:nth-child(6) {
    display: none;
  }
  .contact-list {
    margin-top: 200px;
  }
  .contact-list {
    gap: 10px;
    max-width: 100%;
    max-height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 48%;
    min-width: inherit;
    background: rgba(255, 255, 255, 0.054);
    -webkit-box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
      inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
    box-shadow: inset 36.6667px -36.6667px 36.6667px rgba(194, 194, 194, 0.054),
      inset -36.6667px 36.6667px 36.6667px rgba(255, 255, 255, 0.054);
    -webkit-backdrop-filter: blur(69.6667px);
    backdrop-filter: blur(69.6667px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 7px;
  }
  .qr {
    display: none;
  }
  .contact-list__item:nth-child(2),
  .contact-list__item:nth-child(3),
  .contact-list__item:nth-child(5),
  .contact-list__item:nth-child(6) {
    margin-bottom: 0;
  }
  .contact-list__item a {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .contact-list__item img {
    position: absolute;
    left: calc(50% - 12px);
    top: 50px;
  }
  .earth-box {
    top: 185px;
    left: calc(50% - 175px);
    transform: scale(1);
  }
  body .mfp-counter {
    display: none;
  }
}
